.container {
  padding: 20px;
  font-size: 12px;
}
.note {
  padding: 10px;
  width: 300px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.hidden {
  display: none;
}
.note_del_btn {
  position: absolute;
  right: -10px;
  top: -10px;
  border: 1px solid #808080;
  border-radius: 15px;
  padding: 5px 8px;
  background-color: white;
  font-size: 12px;
}
.addform {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.addform__input {
  padding: 10px;
  width: 300px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-right: 10px;
}
.addform__submit {
  padding: 10px;
  width: 50px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-right: 10px;
}
